# API Configuration
API_KEY=your-secret-api-key-here

# Server Configuration
PORT=3000

# Database Configuration (for local development)
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=atlas_db

# Prisma Database URL

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/atlas_db

#Anchor API Key
ANCHOR_API_KEY=your-anchor-api-key-here